<div class="main">
    <div class="logo">
        <img src="../../../../assets/loginLogo.png" width="400" height="400">
    </div>
    <div class="contentt">
        <div class="about">
            <div class="aboutContent">
                <p>
                    We are BOUUZA store. We sell all kinds of Ice Cream of different varieties from different cultures.
                    Our goal is to be able to deliver you your favorite Ice Creams while you stay in your home away from
                    Summer's heat.
                    We have all tastes that one can desire and with affordable prices.
                </p>
                <br>
                <p>
                    Now you may ask, what makes us more special than other stores?
                    Well, first of all, you will find every taste you like in our store so you don't have to search
                    other places to find your flavor.
                    Second, we can deliver you the order at a significantly fast pace.
                    Lastly, and the most important policy that we follow is the "30 Minute Rule".
                    This rule states that we take more than 30 minutes to deliver your order and you are not living so
                    far, you will take the order for free.
                </p>
                <br>
                <p>Interested to check for our products after what you have heard?</p>
                <p>You can check our <a routerLink="/rest-items">Products</a>, Or you can see our information and stay in <a
                        routerLink="/contact">Contact with Us</a></p>
            </div>
        </div>
    </div>
</div>