.navbar {
    background-color: black;
    height: 80px;
}


.btnLogin {
    background-color: transparent;
    border: 1px solid black;
    padding: 3px 10px;
    transition: all 0.2s ease;
}

.btnLogin:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.btnRegister {
    background-color: black;
    color: white;
    padding: 3px 10px;
    border: 1px solid black;
}


footer {
    background-color: black;
}

.products {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 60px;
}

.pagination {
    display: inline-block;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.page-active {
    background-color: black;
    color: white;
    border-radius: 10px;
}


.cardItem {
    transition: all .2s ease-in-out;
    margin: 20px;
    cursor: pointer;
}

.cardItem:hover {
    transform: scale(1.1);
}

.btnAddToCart {
    background-color: black;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
}

.btnAddToCart:hover {
    background-color: black;
    color: white;
}

.list-items{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainCard{
    border: none;
}

.bodyCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-header{
    background-color: #fff;
    border: none;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #fff !important;
    color: black;
}

ngb-pagination ::ng-deep ul > li.active > a {
    background-color: black!important;
    border: none;
}

.card-img-top{
    max-width: 100%;
    height: 250px;
}