<div class="main">
    <h2 class="bg-white rounded shadow p-3 mb-4 mt-4 tit">Add Products</h2>
    <hr>
    <form class="form-horizontal" [formGroup]="ProductDetails" (ngSubmit)="addProduct()">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
                <div class="col-md-4">
                    <input id="product_name" name="product_name" placeholder="PRODUCT NAME"
                        formControlName="name"    
                    class="form-control input-md" required="" type="text">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_name">PRODUCT Category</label>
                <div class="col-md-4">
                    <input id="product_name" name="product_name" placeholder="PRODUCT Category"
                    formControlName="category"    
                    class="form-control input-md" required="" type="text">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_name_fr">PRODUCT DESCRIPTION</label>
                <div class="col-md-4">
                    <input id="product_name_fr" name="product_name_fr" placeholder="PRODUCT DESCRIPTION"
                    formControlName="description"
                    class="form-control input-md" required="" type="text">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_weight">PRODUCT PRICE</label>
                <div class="col-md-4">
                    <input id="product_weight" name="product_weight" placeholder="PRODUCT PRICE"
                    formControlName="price"
                    class="form-control input-md" required="" type="text">
                </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_description">PRODUCT IMAGE LINK</label>
                <div class="col-md-4">
                    <textarea
                    placeholder="Image Link..."
                    formControlName="image"
                    class="form-control" id="product_description" name="product_description"></textarea>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <div class="col-md-9 mt-3">
                    <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">Add</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>