<section class="h-100 p-5" style="background-color: black;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <p><span class="h2">Shopping Cart </span><span class="h4">({{ nbOfOrders }} item in your cart)</span>
                </p>

                <div class="card mb-4">
                    <div class="card-body p-4">

                        <div class="row align-items-center" *ngFor="let o of orders">
                            <div class="col-md-2">
                                <img src="{{ o.image }}" class="img-fluid" alt="{{ o.name }}" width="100" height="100">
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Name</p>
                                    <p class="lead fw-normal mb-0">{{ o.name }}</p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Category</p>
                                    <p class="lead fw-normal mb-0">{{ o.category }}</p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Quantity</p>
                                    <p class="lead fw-normal mb-0">1</p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Price</p>
                                    <p class="lead fw-normal mb-0">{{ o.price }}</p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a (click)="removeOrder(o.id)" class="text-danger"><i
                                            class="fas fa-trash fa-lg"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-5">
                    <div class="card-body p-4">

                        <div class="float-end">
                            <p class="mb-0 me-5 d-flex align-items-center">
                                <span class="small text-muted me-2">Order total:</span> <span class="lead fw-normal">{{
                                    totatPrice }}$</span>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <a routerLink="/admin/products" class="btn btn-light btn-lg me-2">Continue shopping</a>
                    <a class="btn btn-primary btn-lg" style="background-color: black; border-color: white;">Pay
                        now</a>
                </div>

            </div>
        </div>
    </div>
</section>